.block-header {
  font-size: toRem(16);
  line-height: 1.5;
  font-weight: 400;
  display: grid;
  justify-items: start;
  gap: toRem(20);

  &--center {
    justify-items: center;
    text-align: center;
  }
  &__label {
    text-transform: capitalize;
  }
  &__title {
    font-family: "Pangolin", cursive;
    @include adaptiveValue("font-size", 34, 24);
    letter-spacing: .05em; /* 5% */
    color: $mainColor;
  }
  &__text {
    max-width: toRem(500);
    @include adaptiveValue("font-size", 19, 12);
    letter-spacing: toRem(1.2);
    line-height: 137.9%;
    color: #4E4C46;
    > * {
      margin-bottom: toRem(54.5);
      &:last-child {
        margin-bottom: 0;
      }
    }
    blockquote {
      font-style: italic;
    }
  }
  &__button {
    font-family: "Rubik", sans-serif;
    color: $whiteColor;
    column-gap: toRem(20);
    @include adaptiveValue("padding-top", 20, 7);
    @include adaptiveValue("padding-bottom", 20, 7);
    @include adaptiveValue("padding-right", 43, 7);
    @include adaptiveValue("padding-left", 43, 7);

    @media (max-width: $mobileMedium) {
      justify-content: center;
      align-items: center;
      font-size: toRem(12);
      column-gap: toRem(10);

      svg {
        height: toRem(12);
      }
    }
  }
}

.logo {
  img {
    @include adaptiveValue("height", 39, 29);
  }
}

.up {
  transform: rotate(-90deg);
  position: fixed;
  font-size: toRem(20);
  bottom: toRem(20);
  right: toRem(10);
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
  z-index: 50;
  ._watcher-view & {
    opacity: 0;
    visibility: hidden;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}
